{% extends 'base.html.twig' %}

{% block title %} Ajouter une boulangerie {% endblock %}

{% block body_class %} origin {% endblock %}

{% block body %}

<div class="addForm container" style="display: inline-block">


    <div class="row">
        <h3 CLASS="formTitle"> Ajouter une Boulangerie </h3>

    </div>
    <hr>
    <div class="row justify-content-around" style="margin-top: 2em">




        {{ form_start(form_boul , {attr : { 'style ': "text-align: left" , 'class' : "col-xl-6 col-lg-6 col-md-6 col-sm-9 col-xs-9 form-alert"}}) }}
        {{ form_row(form_boul.nomBL , { 'label' : "Nom Boulangerie " , attr : {'placeholder' : "Entrez le nom de la boulangerie"}}) }}
        {{ form_row(form_boul.adresse , {attr : { 'placeholder' : "Entrez une adresse"}})  }}
        {{ form_row(form_boul.telephone  , {attr : {'placeholder' : "(+33) 06 12 34 56 78"} }) }}
        {{ form_row(form_boul.nbOperateurs , { 'label' : "Nombre des operateurs" , attr : { 'placeholder' : "Entrez un nombre"}}) }}
        {{ form_row(form_boul.matricule , { 'label' : "Matricule du responsable" , attr : { 'placeholder' : "Entrez 4 chiffres"}}) }}

        <div class="col-12 " style="text-align: end ; margin: 2em 0em 0.8em 0em ">
            <button type="submit" class="btn btn-dark submitButt postB" style="margin-right: 0.5em">Ajouter </button>
            <a href="{{ path('boulangeries')}}">
                <button type="button" class="btn btn-secondary submitnt " style="margin-left: 0.5em">Retour </button></a></div>

        {{ form_end(form_boul) }}
    </div>


</div>

    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
{% endblock %}