{% extends 'base.html.twig' %}

{% block title %}Livreurs{% endblock %}


{% block body %}
    {{ include('includes/navbar.html.twig') }}

<div class="wrapper">
    {{ include('includes/sidebar.html.twig') }}

    <!--Content-->
    <div class="container-fluid" style="position: relative ">
        <div class="row justify-content-end " style="margin: 2em">
            <div class="col-lg-4 col-sm-12 col-xs-12">
                <form>
                    <div class="input-group" >
                        <input type="text" class="form-control" placeholder="Search" id="search" style="border-radius: 10px 0px 0px 10px">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" style="background-color: white; border: 1px solid #DEE2E6;
                            border-radius: 0px 10px 10px 0px">
                                <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row my-row justify-content-center tableZoneZone"  style="margin-bottom: 0px">
            <h3 > LES LIVREURS </h3> </div>
        <div class="tableZone row justify-content-center" style="margin-left: 2em; margin-right: 2em; ">
            <table class="table table-striped">
                <thead>


                <tr>
                    <th scope="col">Nom </th>
                    <th scope="col">Telephone </th>
                    <th scope="col">Numero du Vehicule</th>
                    <th scope="col">Modification</th>
                    <th scope="col">Supprimer</th>
                </tr>
                </thead>
                <tbody>

                {% for Livreur in Livreurs %}
                <tr>
                    <th scope="row">{{ Livreur.nomLivreur}}</th>
                    <td>{{ Livreur.teleLivreur }}</td>
                    <td>{{ Livreur.numVehicule }}</td>

                    <td>
                        <a href="#modify"
                           type="button" class="btn btn-success Update" data-toggle="modal" data-target="{{ path('livreur_modify',{'matricule' : Livreur.matricule}) }}">
                            Modifier </a>

                    </td>




                    <td><a href="{{ path('livreur_delete',{'matricule' : Livreur.matricule}) }}"
                           type="button" class="btn btn-danger Remove" data-toggle="modal" data-target="#exampleModalCenter">
                            Supprimer</a></td>
                </tr>

{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    <!-- Confirm Remove Modal-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirmation de la supression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Etes-vous sur de vouloir supprimer cet élement ? <br>
                    La suppression d'un livreur engendra la suppression de son profil.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirmed">confirmer </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">annuler</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modification Modal-->
    <div class="modal modificationModal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal">Modification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-form">

                </div>
            </div>
        </div>
    </div>
    <footer></footer>
    {{ include('includes/changePasswordModal.html.twig') }}

{% endblock %}