{{ form_start(form_modify , {'action' : path('product_modify',{'codeProduit' : codeProduit})   }) }}
<div class="modal-body">
    <div class="form-group" style="display: none">
        <label>Code</label>
        <input type="text" class="form-control" name="modification" value="">

    </div>

    {{ form_row(form_modify.libelle , {'value' : Mod.libelle,  'label' : "Désignation " }) }}
    {{ form_row(form_modify.prixHA , { 'value' : Mod.prixHA, 'label' : "Prix HA " })  }}
    {{ form_row(form_modify.TVA, { 'value' : Mod.TVA}) }}


</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary confirmed">Enregistrer </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
</div>
{{ form_end(form_modify) }}

